###########################################################
#
#   Planetary system initial configuration
#
# Note: Accretion is the inverse of the accretion
#       time scale (1.0 for Kley's standard set-up)
#	Set to 0 to turn accretion off
###########################################################

# Planet Name 	Distance	Mass	 Accretion	Feels Disk	Feels Others
Planet   26.84    0.014    0.0     YES     YES 
Companion   204.55    0.196    0.0     NO     NO 
